<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Login | JaferBooks</title>
    <!-- Include jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Include your adminlogin.js script -->
    <script src="../script/adminlogin.js"></script>
    <link rel="stylesheet" href="../style/adminlogin.css" />
</head>

<body>
<div class="cont">
    <h2>Admin Login</h2>
    <div class="Admin">
        <form>
            <br />
            <label>email</label><br />
            <input type="text" placeholder="please enter a email" class="input" name="email" /><br />
            <label >password</label><br />
            <input type="password" placeholder="please enter a password" class="input" name="password" /><br /><br />
            <button class="btn">Login</button><br /><br />
        </form>
    </div>
</div>
</body>

</html>

