<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Sign Up | JaferBooks</title>
    <!-- Include jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Include your adminsignup.js script -->
    <script src="../script/adminsignup.js"></script>
    <link rel="stylesheet" href="../style/adminsignup.css" />
</head>

<body>
<div class="cont">
    <h2>Admin Sign Up</h2>
    <div class="Admin">
        <form>
            <label>Email</label><br />
            <input type="email" placeholder="Please enter an email" class="input" name="email" required /><br />
            <label>Confirm Email</label><br />
            <input type="email" placeholder="Please confirm your email" class="input" name="confirm-email" required /><br />
            <label>Username</label><br />
            <input type="text" placeholder="Choose a username" class="input" name="username" required /><br />
            <label>Password</label><br />
            <input type="password" placeholder="Create a password" class="input" name="password" required /><br />
            <label>Confirm Password</label><br />
            <input type="password" placeholder="Confirm your password" class="input" name="confirm-password" required /><br /><br />
            <button type="submit" class="btn">Sign Up</button><br /><br />
        </form>
    </div>
</div>
</body>

</html>
