<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../style/login.css">
    <script src="../script/login.js" defer></script> <!-- Defer the loading of the JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<main>
    <section class="left">
        <div class="maindiv">
            <div class="upperlog">
                <div class="txtlogoo">
                    <p class="txtlogin">Log in</p>
                </div>
                <div class="input-div">
                    <input class="emailinp" type="text" name="email" placeholder="Email Address">
                    <input type="password" class="passwordinp" name="password" placeholder="Password">
                    <button class="sub_login">Log in</button>
                </div>
            </div>
            <div class="lowerlog">
                <div class="ord"><p class="or">Or</p></div>
                <div class="loginoption">
                    <button class="linklogin">Email me log in link</button>
                    <div class="googlelog"><i class="fa-brands fa-google"></i>
                        <p>Sign in with Google</p>
                    </div>
                     <div class="link"> <a href=""><p>Forget Password</p></a>
                        </div>
                        <div>
                            <a class="forget" href="../templates/signup.html">
                                <p>
                                    Registor
                                </p>
                            </a>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <section class="right">
        <img src="../dumb/7%20Tips%20for%20Musicians%20to%20Have%20Amazing%20Live%20Concerts%20–%20Mella%20Music.jpeg" alt="">
    </section>
</main>
<footer></footer>
</body>
</html>
