<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../style/orgevent.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="../script/orgevent.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizer</title>
</head>
<body>
    
    <header>
        <div class="lefth">

        </div>
        <div class="righth">
            <div class="pp">
                <div class="one"><span>MS</span></div>
                <div class="two"><p></p></div><div>
                    <div class="three"><i class="fa-solid fa-chevron-down"></i></div>
                
            </div>
        </div>
    </header>
    <main>
        <div class="taskbar">
                        <div>
                           <a href="organizer.html"> <i class="fa-solid fa-house"></i></a>
                        </div>
                        <div>
                            <a href="#"><i class="fa-solid fa-calendar"></i></a>
                        </div>
                        <div>
                            <i class="fa-solid fa-coins"></i>
                        </div>
                        <div>
                            <i class="fa-solid fa-chart-simple"></i>
                        </div>
                        <div class="settingpp">
                            <i class="fa-solid fa-gear"></i>
                        </div>
                        <div>
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        </div>

                        

        </div>
        <div class="maindiv">
            <div class="greet-user">
                    <p>Events</p>
            </div>
            <div class="home-page_main">
                <div class="taglist">

                    <p class="all">Events</p>
                    <p>Collection</p>
                </div>
                <div class="cataeve">
                    <div class="cataeve-search">
                        <input type="search" placeholder="search event"> 
                      
                    </div>
                    <div class="ee">
                        <a href="../templates/createvent.html"><p class="crt">Create Event</p></a>
                    </div>

                </div>
                <div class="events-div">
                    <div class="postscontainer">
                    <div class="evp">
                        <div class="eventbanner" name="banner">
                            <img src="../dumb/How%20to%20spend%20a%20perfect%20day%20in%20Addis%20Ababa.jpeg" alt="">

                        </div>
                        <div class="eventattr">
                            <p class="eventstatus" name="status">Just Added</p>
                            <p class="eventtitle" name="title">Title</p>
                            <p class="eventdate" name="date">Sat, May 4</p>
                            <p class="eventaddress" name="address">Bole Road</p>
                            <p class="eventprice" name="price">Free</p>

                        </div>

                    </div>
                    <div class="evp">
                        <div class="eventbanner" name="banner">
                            <img src="../dumb/How%20to%20spend%20a%20perfect%20day%20in%20Addis%20Ababa.jpeg" alt="">

                        </div>
                        <div class="eventattr">
                            <p class="eventstatus" name="status">Just Added</p>
                            <p class="eventtitle" name="title">Title</p>
                            <p class="eventdate" name="date">Sat, May 4</p>
                            <p class="eventaddress" name="address">Bole Road</p>
                            <p class="eventprice" name="price">Free</p>

                        </div>

                    </div>
                    <div class="evp">
                        <div class="eventbanner" name="banner">
                            <img src="../dumb/How%20to%20spend%20a%20perfect%20day%20in%20Addis%20Ababa.jpeg" alt="">

                        </div>
                        <div class="eventattr">
                            <p class="eventstatus" name="status">Just Added</p>
                            <p class="eventtitle" name="title">12-Hour Happiness Marathon - International Happiness</p>
                            <p class="eventdate" name="date">Sat, May 4</p>
                            <p class="eventaddress" name="address">Bole Road</p>
                            <p class="eventprice" name="price">Free</p>

                        </div>

                    </div>
                    <div class="evp">
                        <div class="eventbanner" name="banner">
                            <img src="../dumb/How%20to%20spend%20a%20perfect%20day%20in%20Addis%20Ababa.jpeg" alt="">

                        </div>
                        <div class="eventattr">
                            <p class="eventstatus" name="status">Just Added</p>
                            <p class="eventtitle" name="title">12-Hour Happiness Marathon - International Happiness</p>
                            <p class="eventdate" name="date">Sat, May 4</p>
                            <p class="eventaddress" name="address">Bole Road</p>
                            <p class="eventprice" name="price">Free</p>

                        </div>

                    </div>


                </div>

                </div>

            </div>

        </div>

    </main>
    
</body>
</html>