<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" type="text/css" href="../style/signup.css">

    <script src="../../script/registor.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+64NhIENORyWNTsM1D1P4fl3Xq1t4Iv9Lw5JguM2Dux2+dC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+64NhIENORyWNTsM1D1P4fl3Xq1t4Iv9Lw5JguM2Dux2+dC" crossorigin="anonymous">

</head>
<body>
    <main>
        <section class="left">
            <div class="maindiv">
                <div class="upperlog">
                    <div class="txtlogoo">
                        
                        
                        <p class="txtlogin">
                            Create an account
                        </p>


                    </div>
                    <div class="input-div">
                        <input class="emailinp" type="text" name="email" placeholder="Email Address">
                        <input class="emailinp" type="text" name="confirm_email" placeholder="Confirm email">
                        <input class="emailinp" type="text" name="fullname" placeholder="FullName">
                        <div class="role">
                        <input class="emailinp" type="text" name="username" placeholder="Username">
                        <input class="roleinp" type="text" name="role" placeholder="Role">
                        </div>
                        <input type="text" class="passwordinp" name="password" placeholder="Password">
                    <hr>
                        <p>Your password must be at least 8 characters</p>
                        <button class="sub_login">Create Account</button>
                        <a href="login.html">Log in</a>

                    </div>

                
                

            </div>

        </section>
        <section class="right">
            <img src="../dumb/7%20Tips%20for%20Musicians%20to%20Have%20Amazing%20Live%20Concerts%20–%20Mella%20Music.jpeg" alt="">

        </section>

    </main>
    <footer>

    </footer>
    
</body>
</html>