<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../style/user1.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+64NhIENORyWNTsM1D1P4fl3Xq1t4Iv9Lw5JguM2Dux2+dC" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../script/event.js"></script>
</head>
<body>

<header>
    <div class="top">
        <div class="topl">
            <div class="hlogo">
                Logo
            </div>
            <div class="hsearch">
                <button class="bsearch"><i class="fa-solid fa-magnifying-glass"></i>&nbsp;&nbsp;search&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;Current Location</button>

            </div>

        </div>
        <div class="topr">
            <div class="findeventh">
                <a href="#"> <span id="fespan">Find Events</span></a>
            </div>
            <div class="createventh">
                <a href="#"><span id="cespan">Create Events</span></a>
            </div>
            <div class="righth">
            <div class="pp">
                <div class="one"><span>MS</span></div>
                <div class="two"><p>Michael Solomon</p></div><div>
                <div class="three"></div>

            </div>
            </div>
        </div>
    </div>
    <div class="middletext">What's new Sheger</div>

    <div class="rest">
        <button class="findevent">Find your next event</button>
    </div>

</header>
<section>
    <div class="catagory">

        <div class="catt" id="catt11"><div class="cat1"><i class="fa-solid fa-music"></i></div><p class="musicp">Music</div>
        <div class="catt"><div class="cat1"><i class="fa-solid fa-martini-glass-citrus"></i></div><p class="musicp">Nightlife</div>
        <div class="catt"><div class="cat1"><i class="fa-regular fa-calendar-days"></i></div><p class="musicp">Holiday</div>
        <div class="catt"><div class="cat1"><i class="fa-solid fa-masks-theater"></i></div><p class="musicp">Theater&Visual Art</div>
        <div class="catt"><div class="cat1"><i class="fa-solid fa-music"></i></div><p class="musicp">Music</div>
        <div class="catt"><div class="cat1"><i class="fa-solid fa-utensils"></i></div><p class="musicp">Food&Drinks</div>
    </div>
    <div class="postevent">
        <div class="braddis">
            <div>
                <p>Browsing events in</p><i class="fa-solid fa-chevron-down"></i><input type="search" placeholder="Addis Ababa">
            </div>

        </div>
        <div class="postsdiv">
            <div class="taglist">

                <p class="all">All</p>
                <p>For you</p>
                <p>Online</p>
                <p>Today</p>
                <p>This Weekend</p>
                <p>Music</p>
                <p>Food&Drink</p>
                <p>Hiking</p>
            </div>
            <div class="eventposts">
                <p class="eventin">Events in Addis Ababa</p>
                <div class="postscontainer">
                    <div class="evp">
                        <div class="eventbanner" name="banner">
                            <img src="../dumb/How%20to%20spend%20a%20perfect%20day%20in%20Addis%20Ababa.jpeg" alt="">

                        </div>
                        <div class="eventattr">
                            <p class="eventstatus" name="status">Just Added</p>
                            <p class="eventtitle" name="title">Title</p>
                            <p class="eventdate" name="date">Sat, May 4</p>
                            <p class="eventaddress" name="address">Bole Road</p>
                            <p class="eventprice" name="price">Free</p>

                        </div>

                    </div>
                    <div class="evp">
                        <div class="eventbanner" name="banner">
                            <img src="../dumb/How%20to%20spend%20a%20perfect%20day%20in%20Addis%20Ababa.jpeg" alt="">

                        </div>
                        <div class="eventattr">
                            <p class="eventstatus" name="status">Just Added</p>
                            <p class="eventtitle" name="title">Title</p>
                            <p class="eventdate" name="date">Sat, May 4</p>
                            <p class="eventaddress" name="address">Bole Road</p>
                            <p class="eventprice" name="price">Free</p>

                        </div>

                    </div>
                    <div class="evp">
                        <div class="eventbanner" name="banner">
                            <img src="../dumb/How%20to%20spend%20a%20perfect%20day%20in%20Addis%20Ababa.jpeg" alt="">

                        </div>
                        <div class="eventattr">
                            <p class="eventstatus" name="status">Just Added</p>
                            <p class="eventtitle" name="title">12-Hour Happiness Marathon - International Happiness</p>
                            <p class="eventdate" name="date">Sat, May 4</p>
                            <p class="eventaddress" name="address">Bole Road</p>
                            <p class="eventprice" name="price">Free</p>

                        </div>

                    </div>
                    <div class="evp">
                        <div class="eventbanner" name="banner">
                            <img src="../dumb/How%20to%20spend%20a%20perfect%20day%20in%20Addis%20Ababa.jpeg" alt="">

                        </div>
                        <div class="eventattr">
                            <p class="eventstatus" name="status">Just Added</p>
                            <p class="eventtitle" name="title">12-Hour Happiness Marathon - International Happiness</p>
                            <p class="eventdate" name="date">Sat, May 4</p>
                            <p class="eventaddress" name="address">Bole Road</p>
                            <p class="eventprice" name="price">Free</p>

                        </div>

                    </div>


                </div>

            </div>
            <div>

            </div>

        </div>
        <div class="makeitpersonal">

        </div>

    </div>
    <div  class="topplace">

    </div>

</section>
<footer>
    <div class="footerupper">
        <div>

        </div>
        <div>

        </div>
        <div>

        </div>
        <div>

        </div>

    </div>
    <div class="footerlower">

    </div>


</footer>

</body>
</html>