body{
    padding: 0;
    margin: 0;
}
header{
    height: 90vh;
    background-color: aqua;
    background-image: url('../dumb/ethh.jpeg');
    /* Adjust background image settings */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat
}
.top{
    height: 8vh;
    
}
