<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../style/home.css" >
</head>
<body>
        <header>
            <div class="top">
                <div class="topl">
                    <div class="hlogo">
                                        Logo
                    </div>
                    <div class="hsearch">
                        <button class="bsearch">search</button>

                    </div>

                </div>
                <div class="topr">
                            <div class="findeventh">
                                <span>Find events</span>
                            </div>
                            <div class="createventh">
                                <a><span>Create events</span></a>
                            </div>
                            <div class="helph">
                                <span>Help</span>
                            </div>
                            <div class="loginh">
                                <span>Log in</span>
                            </div class="regh">
                            <div>
                                <span>Register</span>
                            </div>

                </div>
            </div>

        </header>
        <footer>

        </footer>

</body>
</html>